In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
states = pd.read_csv('states.csv')
faculty = pd.read_csv('faculty_details.csv')
course = pd.read_csv('course_details.csv')

In [3]:
states.shape, faculty.shape, course.shape

((5926, 9), (383939, 9), (41058, 12))

In [4]:
states.columns = ['state', 'aicteId', 'institute_name', 'address', 'district', 'institution_type', 'women', 'minority', 'secondaryId']
faculty.columns = ['aicteId', 'faculty_id', 'faculty_name', 'gender', 'post', 'date_of_hire', 'speciality', 'appointment_type', 'institute_name']
course.columns = ['aicteId', 'institute_name', 'state', 'programme', 'univresity', 'level_of_course', 'course', 'shift', 'type', 'intake', 'enrollment', 'placement']

In [5]:
states.head()

,state,aicteId,institute_name,address,district,institution_type,women,minority,secondaryId
0,Andaman and Nicobar Islands,1-9319956995,GOVERNMENT POLYTECHNIC DIGLIPUR,"MADHUPUR, DIGLIPUR",ANDAMANS,Government,N,N,1-3689480791
1,Andaman and Nicobar Islands,1-9318328629,DR. B.R. AMBEDKAR INSTITUTE OF TECHNOLOGY,POLYTECHNIC ROAD\r\nPAHAR GAON\r\nPO JUNGLIGHAT,PORT BLAIR,Government,N,N,1-468009933
2,Andhra Pradesh,1-9317993582,DAITA MADHUSUDANA SASTRY SRI VENKATESWARA HIND...,DAITA MADHUSUDANA SASTRY SRI VENKATESWARA HIND...,KRISHNA,Private-Self Financing,N,N,1-447958521
3,Andhra Pradesh,1-9318987465,TADIPATRI ENGINEERING COLLEGE,"KADAPA ROAD, VEERAPURAM (V),TADIPATRI(M).",ANANTAPUR,Private-Self Financing,N,N,1-4380391
4,Andhra Pradesh,1-9318989877,ADARSH COLLEGE OF ENGINEERING,NH-214\r\nCHEBROLU\r\nGOLLAPROLU MANDAL\r\nEAS...,EAST GODAVARI,Private-Self Financing,N,N,1-4734112

In [6]:
faculty.head()

,aicteId,faculty_id,faculty_name,gender,post,date_of_hire,speciality,appointment_type,institute_name
0,1-9319956995_1-3689480791,1-4812533153,Ms. SUHASNI PANNEER,Female,LECTURER,2018-08-27,NaN,Contract,GOVERNMENT POLYTECHNIC DIGLIPUR
1,1-9319956995_1-3689480791,1-4813184658,Mr. KUMAR TEPPALA ANIL,Male,LECTURER,2018-08-29,NaN,Contract,GOVERNMENT POLYTECHNIC DIGLIPUR
2,1-9318328629_1-468009933,1-2665545733,Mrs. KULKARNI RAJASHRI NARAYANRAO,Female,ASST PROFESSOR,2015-06-27,GEOTECHNICAL ENGINEERING,Regular,DR. B.R. AMBEDKAR INSTITUTE OF TECHNOLOGY
3,1-9318328629_1-468009933,1-2665577461,Mrs. JOSLIN DIANA,Female,ASST PROFESSOR,2015-05-18,GEOTECHNICAL,Regular,DR. B.R. AMBEDKAR INSTITUTE OF TECHNOLOGY
4,1-9318328629_1-468009933,1-2665615148,Mr. MUSTAFA ALTAMASH,Male,ASST PROFESSOR,2015-05-15,ENVIRONMENTAL ENGINEERING,Regular,DR. B.R. AMBEDKAR INSTITUTE OF TECHNOLOGY

In [7]:
course.head()

,aicteId,institute_name,state,programme,univresity,level_of_course,course,shift,type,intake,enrollment,placement
0,1-9319956995,GOVERNMENT POLYTECHNIC DIGLIPUR,Andaman and Nicobar Islands,ENGINEERING AND TECHNOLOGY,Maharashtra State Board of Technical Education...,DIPLOMA,CIVIL ENGINEERING,1st Shift,FULL TIME,24,NaN,NaN
1,1-9319956995,GOVERNMENT POLYTECHNIC DIGLIPUR,Andaman and Nicobar Islands,ENGINEERING AND TECHNOLOGY,Maharashtra State Board of Technical Education...,DIPLOMA,COMPUTER SCIENCE & ENGINEERING,1st Shift,FULL TIME,24,NaN,NaN
2,1-9318328629,DR. B.R. AMBEDKAR INSTITUTE OF TECHNOLOGY,Andaman and Nicobar Islands,ENGINEERING AND TECHNOLOGY,Maharashtra State Board of Technical Education...,DIPLOMA,CIVIL ENGINEERING,1st Shift,FULL TIME,60,NaN,NaN
3,1-9318328629,DR. B.R. AMBEDKAR INSTITUTE OF TECHNOLOGY,Andaman and Nicobar Islands,ENGINEERING AND TECHNOLOGY,Maharashtra State Board of Technical Education...,DIPLOMA,COMPUTER ENGINEERING,1st Shift,FULL TIME,60,NaN,NaN
4,1-9318328629,DR. B.R. AMBEDKAR INSTITUTE OF TECHNOLOGY,Andaman and Nicobar Islands,ENGINEERING AND TECHNOLOGY,Maharashtra State Board of Technical Education...,DIPLOMA,ELECTRICAL ENGINEERING,1st Shift,FULL TIME,60,NaN,NaN

In [15]:
aicteid = []
programmes = []
university = []
level_of_courses = []
courses = []
shifts = []
types = []
intakes = []
enrollments = []
placements = []

In [16]:
temp = pd.DataFrame()
for i, row in tqdm(states.iterrows()):
    tmp = course[course['aicteId'] == row['aicteId']]
    aicteid.append(row['aicteId'])
    try:
        programmes.append(tmp['programme'].tolist()[0])
        university.append(tmp['univresity'].tolist()[0])
    except:
        programmes.append('')
        university.append('')
    level_of_courses.append(tmp['level_of_course'].tolist())
    courses.append(tmp['course'].tolist())
    shifts.append(tmp['shift'].tolist())
    types.append(tmp['type'].tolist())
    intakes.append(tmp['intake'].tolist())
    enrollments.append(tmp['enrollment'].tolist())
    placements.append(tmp['placement'].tolist())

5926it [00:10, 543.06it/s]

In [17]:
len(aicteid), len(programmes), len(university), len(level_of_courses), len(shifts), len(courses), len(types), len(intakes), len(enrollments), len(placements)

(5926, 5926, 5926, 5926, 5926, 5926, 5926, 5926, 5926, 5926)

In [18]:
temp['aicteId'] = aicteid
temp['programme'] = programmes
temp['university'] = university
temp['level_of_courses'] = level_of_courses
temp['courses'] = courses
temp['shifts'] = shifts
temp['types'] = types
temp['intakes'] = intakes
temp['enrollments'] = enrollments
temp['placements'] = placements

In [19]:
temp.shape

(5926, 10)

In [20]:
combined1 = states.merge(temp, left_on='aicteId', right_on='aicteId')

In [21]:
combined1.shape, states.shape, course.shape

((5926, 18), (5926, 9), (41058, 12))

In [22]:
aicteid= []
faculty_id = []
faculty_name = []
gender = []
post = []
date_of_hire = []
speciality = []
appointment_type = []

In [23]:
temp = pd.DataFrame()
for i, row in tqdm(states.iterrows()):
    tmp = faculty[faculty['aicteId'].str.contains(row['aicteId'])]
    aicteid.append(row['aicteId'])
    faculty_id.append(tmp['faculty_id'].tolist())
    faculty_name.append(tmp['faculty_name'].tolist())
    gender.append(tmp['gender'].tolist())
    post.append(tmp['post'].tolist())
    date_of_hire.append(tmp['date_of_hire'].tolist())
    speciality.append(tmp['speciality'].tolist())
    appointment_type.append(tmp['appointment_type'].tolist())

5926it [07:34, 13.03it/s]

In [24]:
len(aicteid), len(faculty_id), len(faculty_name), len(gender), len(post), len(date_of_hire), len(speciality), len(appointment_type)

(5926, 5926, 5926, 5926, 5926, 5926, 5926, 5926)

In [25]:
temp['aicteId'] = aicteid
temp['faculty_id'] = faculty_id
temp['faculty_name'] = faculty_name
temp['gender'] = gender
temp['post'] = post
temp['date_of_hire'] = date_of_hire
temp['speciality'] = speciality
temp['appointment_type'] = appointment_type

In [26]:
temp.shape, states.shape, faculty.shape

((5926, 8), (5926, 9), (383939, 9))

In [27]:
combined2 = combined1.merge(temp, left_on='aicteId', right_on='aicteId')

In [28]:
combined2.shape, combined1.shape

((5926, 25), (5926, 18))

In [29]:
combined2.to_csv('aicte_combined.csv', index=False)

In [30]:
combined2.columns

Index(['state', 'aicteId', 'institute_name', 'address', 'district',
       'institution_type', 'women', 'minority', 'secondaryId', 'programme',
       'university', 'level_of_courses', 'courses', 'shifts', 'types',
       'intakes', 'enrollments', 'placements', 'faculty_id', 'faculty_name',
       'gender', 'post', 'date_of_hire', 'speciality', 'appointment_type'],
      dtype='object')